.profile-table {
  color: #585762;
  font-size: 1rem;

  &__title {
    font-size: 1.625rem;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 4.2vh;
    padding-left: 10px;
  }

  &__table {
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__row {
    border-bottom: 1px solid #f3f3f3;
    display: flex;

    &_is-column {
      flex-direction: column;
    }
  }

  &__item {
    padding: 2.5vh 10px 1.1vh;
    vertical-align: middle;
  }

  &__name {
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;

    &_is-column {
      padding-bottom: 0;
    }
  }

  &__value {
    flex-grow: 1;
    text-align: right;

    &_is-column {
      text-align: left;
      padding-top: 1.3vh;
    }
  }
}