.profile-info {
  padding: 2.8vh 1.3vw;
  display: flex;
  color: #585762;

  &__avatar {
    width: 151px;
    height: 151px;
  }

  &__avatar-part {
    width: 33.1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 17px 1.7vw;
  }

  &__login {
    margin-top: 1.7vh;
  }

  &__full-name {
    margin-top: 1.7vh;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__tables {
    display: flex;
  }

  &__table {
    flex-grow: 1;
    margin-right: 2.6vw;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__control {
    display: flex;
    justify-content: flex-end;
    margin-top: 3.2vw;
  }

  &__btn {
    margin-right: 1vw;

    &:last-child {
      margin-right: 0;
    }
  }
}