.change-password {
  width: 26.8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  text-align: center;

  &__form {
    width: 100%;
  }

  &__form-item {
    width: 100%;
    margin-bottom: 1.25vh;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__submit {
    font-size: 1rem;
    font-weight: 700;
    padding-right: 52px;
    padding-left: 30px;
    margin-top: 33px;
    width: 100%;
  }
}