.tariff-block {
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;

  &__slick-wrapper {
    display: block !important;
  }

  &__slick-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
  }

  &__list {
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    overflow-y: visible;
    z-index: 2;
    margin-top: 3vh;
  }

  &__item {
    //margin-right: 20px;

  }
}

.slick-slide {
  //width: calc(33.3333% - 30px);
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
}

.slick-list {
  overflow: visible !important;
  margin-left: -10px;
  margin-right: -10px;
  width: calc(100% + 20px);
}