.input-group {
  position: relative;
  height: 50px;
  //height: 5vh;

  &_textarea {
    height: 12.2vh;
    border-radius: 20px;
  }

  &__label {
    visibility: visible;
    cursor: text;
    opacity: 1;
    color: rgba(88, 87, 98, .5);
    position: absolute;
    line-height: 1rem;
    top: calc(50% - .5rem);
    left: calc(1.56vw - 8px);
    padding: 0 10px;
    background: none;
    transition: all .35s;
    background: rgba(0, 0, 0, 0);

    &_for-textarea {
      top: 16px;
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    border: 1px solid #ebebeb;
    border-radius: 25px;
    font: inherit;
    color: #585762;
    padding: 0 1.56vw;
    outline: none;

    &_textarea {
      resize: none;
      border-radius: 22px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &::placeholder {
      visibility: hidden;
    }
  }

  &_focus &__label,
  &_has-text &__label {
    visibility: visible;
    opacity: 1;
    top: -.5rem;
    line-height: 1rem;
    color: #0896d0;
    font-size: 13px;
    display: flex;
    align-items: center;
    background: #fff;
  }

  &_focus &__input,
  &_has-text &__input {
    border: none;
  }

  &_focus, &_has-text {
    box-shadow: 0 9px 40px rgba(0, 255, 202, 0.1);
    background: linear-gradient(-70deg, #1aeebb 0%, #1fb4f3 100%);
    border-radius: 25px;
    padding: 2px;
  }
}