.page-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  &__container {
    display: flex;
  }

  &__icon {
    width: 363px;
    height: 363px;
    flex-shrink: 0;
    background: #fff url(./page-error.png) center no-repeat;
    border-radius: 50%;
    box-shadow: 0 27px 65px rgba(26, 22, 75, 0.09);
    margin-right: 60px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__code {
    font-size: 11.25rem;
    line-height: .6;
    padding-left: 15px;
  }

  &__text {
    margin: 30px 0;
    color: #b2b2b5;
    max-width: 447px;
    padding-left: 15px;
    line-height: 1.3125;

    a {
      color: #0e216b;
      display: inline-block;
      line-height: 1;
      text-decoration: none;
      border-bottom: 1px dotted #0e216b;
    }
  }


}