.tariff {
  //width: calc(33.333% - 20px);
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
  color: #585762;
  position: relative;
  border: none;

  &__container {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: #fff url(./tariff-bg.png) no-repeat left top;
    background-size: auto 100%;
    border-radius: 20px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__main {
    text-align: right;
  }

  &__price {
    color: #026fc2;
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: -0.07px;
    margin-right: 10px;
  }

  &__title {
    font-size: 1.625rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.33px;
    margin-bottom: 40px;
  }

  &__info {
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  &__btn-block {
    width: 100%;
    height: 40px;
    margin-top: auto;
  }

  &__btn-buy {
    width: 104px;
  }

  &__description {
    position: absolute;
    left: 1px;
    right: 1px;
    padding: 30px 40px 40px 26px;
    color: #fff;
    top: 1px;
    background: url(./bg-description.png) bottom left no-repeat, linear-gradient(to top, #211c5d 0%, #501e7e 100%);
    z-index: 2;
    border-radius: 20px;
    height: calc(100% - 2px);
    display: flex;
    flex-direction: column;
    transition: height .7s;

    &_active {
      height: calc(100% + 200px);
    }

    &:after {
      content: '';
      clear: both;
    }
  }

  &__mo {
    font-size: 2.1875rem;
  }

  &__desc-title {
    width: 100%;
    margin-top: auto;
    margin-bottom: 18px;
    font-size: 1.25rem;
  }

  &__desc-text {
    width: 80%;
  }

  &__desc-open-btn {
    margin: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 -6px 10px rgba(26, 22, 75, 0.1);
    background: #573377 url(./arrow-btn.svg) no-repeat 17px center;
    background-size: 13px;
    border: none;
    outline: none;
    position: absolute;
    z-index: 4;
    bottom: 9px;
    right: 15px;
    transform: rotate(-90deg);
    cursor: pointer;
    transition: bottom .7s;

    &_active {
      transform: rotate(90deg);
      bottom: -200px;
    }
  }

  @media (max-width: 1800px) {
    &__price {
      font-size: 2.8rem;
    }

  }

  @media (max-width: 1700px) {
    &__price {
      width: 100%;
    }

    &__main {
      margin-top: 20px;
      text-align: left;
    }

    &__description_active {
      height: calc(100% + 220px);
    }

    &__desc-open-btn_active {
      bottom: -220px;
    }
  }

  @media (max-width: 1600px) {
    &__description_active {
      height: calc(100% + 220px);
    }

    &__desc-open-btn_active {
      bottom: -220px;
    }
  }

  @media (max-width: 1600px) {
    &__description_active {
      height: calc(100% + 240px);
    }

    &__desc-open-btn_active {
      bottom: -240px;
    }
  }
}