.paginator {
  display: flex;
  align-items: center;
  justify-content: center;

  &__arrow {
    border: none;
    outline: none;
    background: url(./link-arrow.svg) no-repeat center;
    background-size: 100%;
    width: 36px;
    height: 19px;
    cursor: pointer;

    &_disabled, &.slick-disabled {
      opacity: .28;
    }

    &_left {
      transform: rotate(180deg);
      order: 1;
    }

    &_right {
      order: 3;
    }
  }

  &__list {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    order: 2;
  }

  & li {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    &.slick-active button {
      opacity: 1;
    }
  }

  & li button {
    width: 15px;
    height: 15px;
    background-image: linear-gradient(to top, #1aeebb 0%, #1fb4f3 100%);
    border-radius: 50%;
    border: none;
    outline: none;
    opacity: 0.17;
    cursor: pointer;
    font-size: 0;
  }

  &__ul-item {
    width: 15px;
    height: 15px;
    background-image: linear-gradient(to top, #1aeebb 0%, #1fb4f3 100%);
    border-radius: 50%;
    border: none;
    outline: none;
    margin-right: 25px;
    opacity: 0.17;
    cursor: pointer;

    &_active {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__ol-item {
    border-radius: 50%;
    margin-right: 25px;
    font-size: 1.125rem;
    color: #585762;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-of-type {
      margin-right: 0;
    }

    &_active {
      width: 37px;
      height: 37px;
      color: #ffffff;
      box-shadow: 0 7px 8px 1px rgba(26, 22, 75, 0.19);
      background-color: #573377;
    }

    &:first-child {
      padding-left: 14px;
      justify-content: flex-start;
    }
  }
}