.dash-stat {
  width: 100%;
  border-collapse: collapse;
  vertical-align: bottom;

  &__name {
    font-weight: 400;
    color: #585762;
    text-align: left;
    padding: .73vw .21vw .2vw .1vw;
    line-height: 1;
  }

  &__value {
    font-size: 1.28rem;
    font-weight: 700;
    color: #0d1d65;
    text-align: right;
    line-height: 1;
    padding: .73vw .21vw .2vw .1vw;
  }

  &__row {
    border-bottom: 1px solid #e9e9e9;
  }
}