.search {
  position: relative;

  &__input {
    width: 100%;
    padding: 16px 1.6vw;
    height: 100%;
    background-color: #f0ebfc;
    border-radius: 25px;
    border: none;
    font: inherit;
    outline: none;

    &::placeholder {
      font: inherit;
      color: rgba(58, 58, 58, .7);
    }
  }

  &__btn {
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(./search.svg) no-repeat center;
    background-size: contain;
    opacity: .43;
    right: 25px;
    top: calc(50% - 11px);
  }

  &_theme_content {
    height: 35px;
    width: 15.6vw;

    .search__input {
      padding: 0 1vw;
      background: transparent;
      color: rgba(58, 58, 58, .7);
      font-weight: 400;
      font-size: 11px;
      line-height: 35px;
      height: auto;

      &::placeholder {
        color: rgba(58, 58, 58, .7);
      }
    }

    .search__btn {
      width: 15px;
      height: 15px;
      top: calc(50% - 7px);
      right: 1vw;
    }
  }
}