.content {
  padding: 3.5vh 1.4vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  flex-grow: 1;

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }

  &_article-opened {
    height: 0;
    overflow: hidden;
  }

  &__title {
    font-size: 1.88rem;
    text-transform: uppercase;
    flex-grow: 1;
  }

  &__search {
    border: 1px solid #c3cacd;
    border-radius: 17px;
    font-size: 11px;
    color: #3a3a3a;
    background: transparent;
  }

  &__block {
    margin-top: 2vh;
    width: 100%;

    &_is-floatable {
      width: auto;
      margin-right: 20px;
    }

    &_is-growable {
      flex-grow: 1;
    }

    &_is-stretchable {
      align-self: stretch;
    }
  }

  &__slider-nav-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
  }

  &__breadcrumbs {
    margin-bottom: 1.6vh;
    width: 100%;
  }

  &__paginator-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 38px;
    padding-right: 4px;
  }

  &__notifications {
    position: absolute;
    right: 22px;
    bottom: 30px;
  }

  &__notification {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}