.message-list {
  width: 32%;
  flex-shrink: 0;
  padding-top: 37px;

  &__message {
    position: relative;

    &_unread {
      &:after {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #fbaf5d;
        border-radius: 50%;
        position: absolute;
        right: calc(-8px + -.4vw);
        top: calc(50% - 4px);
      }
    }

    &_read {
      &:after {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #20baa3;
        border-radius: 50%;
        position: absolute;
        right: calc(-8px + -.4vw);
        top: calc(50% - 4px);
      }
    }
  }

  &__btn-block {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}