.mCS-custom {

  &.mCSB_scrollTools {
    width: 15px;

    .mCSB_draggerRail {
      background: rgba(47, 38, 134, .05);
      width: 8px;
    }

    .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
      background: #e1e5ff;
    }

    .mCSB_dragger .mCSB_dragger_bar {
      background: #e1e5ff;
      width: 8px;

      &:hover {
        background: #e1e5ff;
      }
    }
  }

  .mCSB_container {
    margin-right: 56px !important;
  }
}