.num-bonuses {
  width: calc(33.33% - 10px);
  height: 43.7vh;
  border-radius: 20px;
  background: radial-gradient(circle 258px at center, rgba(97, 32, 156, .7), rgba(97, 32, 156, 0)), url(num-bonuses-percent.png) no-repeat bottom left #211c5d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  padding: 33px 30px 20px 170px;
  flex-shrink: 0;
  color: #fff;
  margin-top: 2vh;

  &__title {
    font-weight: 400;
    font-size: 1.8125rem;
  }

  &__title-bold {
    font-weight: 700;
    font-size: 2.5rem;
  }

  &__num {
    margin-top: 3.7vh;
    font-size: 2.875rem;
    font-weight: 400;
    letter-spacing: -0.05px;
  }

  &__num-bold {
    font-weight: 700;
    font-size: 3.8125rem;
    letter-spacing: -0.07px;
  }

  &__link {
    color: inherit;
  }
}