.burger {
  position: relative;
  width: 18px;
  height: 18px;

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    margin: 4px 0;
    height: 2px;
    background: #fff;
    transition: all .35s;
    left: 0;
    right: 0;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &_active {
    &:before {
      top: 4px;
      transform: rotate(45deg);
    }

    &:after {
      bottom: 4px;
      transform: rotate(-45deg);
    }
  }
}