.nav-top {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -7px 33px 2px #eceef1;
  padding: 2.8vh 2.5vw;
  height: calc(50px + 5.6vh);
  position: relative;
  display: flex;

  &__search {
    width: 23.3vw;
    min-width: 200px;
    margin-right: auto;
  }

  &__lan {
    letter-spacing: 0.4px;
    background-color: #f0ebfc;
    border-radius: 25px;
    color: #585762;
    display: flex;
    align-items: center;
    margin-right: 1.6vw;
  }

  &__arrow-icon {
    overflow: hidden;
    width: 11px;
    height: 6px;
    stroke: #585762;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 7px;
    margin-left: 1vw;
  }

  &__support {
    height: 50px !important;
    line-height: 50px !important;
    border-radius: 25px !important;
    padding-left: 2.3vw !important;
    padding-right: 2.3vw !important;
    margin-right: 1.6vw;
  }

  &__alerts {
    display: flex;
    align-items: center;
    margin-right: 2vw;
  }

  &__alert {
    margin-right: 1vw;
    text-decoration: none;
    position: relative;
    width: 40px;
    height: 40px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.5;
    }

    &_type_support {
      &:before {
        background: url(./mail.svg) no-repeat center;
        background-size: 33px;
      }

      .nav-top__alert-num {
        background-color: #20baa3;
      }
    }

    &_type_alarm {
      &:before {
        background: url(./warning.svg) no-repeat center;
        background-size: 31px;
      }

      .nav-top__alert-num {
        background-color: #e5824d;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__alert-num {
    position: absolute;
    right: -6px;
    top: 0;
    font-size: 10px;
    color: #ffffff;
    font-weight: 400;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__greeting {
    line-height: 19.18px;
    color: #3a3a3a;
    margin-left: 1vw;
    text-decoration: none;
  }

  &__profile-part {
    display: flex;
    align-items: center;
  }
}