.btn {
  cursor: pointer;
  font: inherit;
  border: none;
  outline: none;
  text-align: left;
  position: relative;
  background: none;
  height: 40px;
  line-height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  font-size: 0.88rem;
  border-radius: 20px;
  text-decoration: none;
  padding: 0 1.4vw;

  &_theme_blue {
    color: #fff;
    box-shadow: 0 4px 10px rgba(26, 22, 75, 0.24);
    background-color: #001c5d;
  }

  &_theme_green {
    background-color: #29b9a3;
    color: #ffffff;
  }

  &_theme_red {
    color: #fff;
    box-shadow: 0 4px 10px rgba(26, 22, 75, 0.24);
    background-color: #c71b1b;
  }

  &_theme_purple-gradient {
    background-image: linear-gradient(85deg, #211c5d 0%, #7431ac 100%);
    box-shadow: 0 6px 10px rgba(26, 22, 75, 0.24);
    color: #fff;
  }

  &_theme_turquoise {
    background-image: linear-gradient(-70deg, #1aeebb 0%, #1fb4f3 100%);
    color: #ffffff;

    &:hover {
      background-image: linear-gradient(-70deg, #1fb4f3 0%, #1aeebb 100%);
    }
  }

  &_theme_purple {
    background-image: linear-gradient(85deg, #7431ac 0%, #7431ac 100%);
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(26, 22, 75, 0.24);
    color: #fff;
  }

  &_size_big {
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    line-height: 50px;
    height: 50px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-radius: 25px;
  }

  &_size_small {
    padding-right: 1vw;
    padding-left: 1vw;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
  }


  &_with-arrow {
    padding-right: calc(.6vw + 50px);

    &:after {
      content: '';
      position: absolute;
      top: 4px;
      right: 4px;
      width: 42px;
      height: 42px;
      margin-left: 14px;
      box-shadow: 0 15px 32px rgba(12, 25, 43, 0.32);
      border-radius: 21px;
      background: rgba(0, 0, 0, 0) url(./right-arrow.svg) no-repeat center;
      background-size: 22px auto;
    }
  }

  &_with-select-arrow {
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    padding-right: 16px;

    &:after {
      content: '';
      width: 17px;
      height: 9px;
      margin-left: 20px;
      background: url(./arrow-btn.png) no-repeat;
      background-size: contain;
      transform: scale(1, -1);
    }
  }

  &_active {
    &:after {
      transform: none;
    }
  }

  @media (max-width: 1800px) {
    &__hidden {
      display: none;
    }
  }
}