.menu-main {
  font-size: 16px;

  &__link {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    padding: 1vh 1vw;
    width: 100%;
    border-right: 4px solid transparent;

    &_active {
      box-shadow: 0 6px 10px rgba(36, 37, 66, 0.15);
      border-right: 4px solid #1aedbd;
      color: #fff;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      margin-right: 2vw;
      width: 23px;
      height: 23px;
      background: center no-repeat;
    }

    &_type_dashboard {
      &:before {
        background-image: url(./home.svg);
        background-size: 22px;
      }
    }

    &_type_source-list:before {
      background-image: url(./print.svg);
      background-size: 18px;
    }

    &_type_source-test:before {
      background-image: url(./settings.svg);
      background-size: 20px;
    }

    &_type_tariff-plan:before {
      background-image: url(./presentation.svg);
      background-size: 18px;
    }

    &_type_users:before {
      background-image: url(./id-card.svg);
      background-size: 23px;
    }

    &_type_refferal:before {
      background-image: url(./add-user.svg);
      background-size: 20px;
    }

    &_type_support:before {
      background-image: url(./chat.svg);
      background-size: 19px;
    }

    &_type_partners:before {
      background-image: url(./conference.svg);
      background-size: 23px;
    }

    &_type_alarms:before {
      background-image: url(./information.svg);
      background-size: 18px;
    }

    &_type_exit:before {
      background-image: url(./exit.svg);
      background-size: 19px;
    }

    &_type_personal-area:before {
      background-image: url(./user.svg);
      background-size: 15px;
    }

    &_type_history:before {
      background-image: url(./file.svg);
      background-size: 15px;
    }

    &_type_catalog:before {
      background-image: url(./print.svg);
      background-size: 18px;
    }

    &_type_favorites:before {
      background-image: url(./star.svg);
      background-size: contain;
    }

    &_type_tariff-payment:before {
      background-image: url(./credit-card.svg);
      background-size: 19px;
    }

    &_type_bonuses:before {
      background-image: url(./percent.svg);
      background-size: 19px;
    }

    &_hidden {
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
      &:before {
        margin-right: 0 !important;
      }
    }
  }
}