.personal-data {
  width: 39.3%;
  flex-grow: 1;
  color: #585762;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;

  a {
    color: #0e216b;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    border-bottom: 1px dotted #0e216b;
  }

  &__title {
    text-align: center;
  }

  &__form {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__form-item {
    width: 100%;
    margin-bottom: 1.25vh;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form-row {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 13px;
    flex-wrap: wrap;
  }

  &__form-inline-item {
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__date {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    width: 167px;
    font-size: .8125rem;
  }

  &__submit {
    align-self: flex-start;
    font-size: 1rem;
    font-weight: 700;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &__confirmation {
    justify-content: center;
  }

  @media (max-width: 1800px) {
    &__submit {
      padding-right: 76px;
      padding-left: 55px;
    }
  }
}