.dashboard {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: calc(100% + 20px);
  margin: -10px;

  &__item {
    margin: 10px;
    flex-grow: 1;
  }

  &_main {
    margin: 0;
    width: 100%;
  }
}