.cabinet-avatar-block {
  width: 24.8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #585762;
  flex-grow: 1;

  &__title {
    text-align: center;
  }

  &__img {
    width: 18vh;
    height: 18vh;
    border-width: 7px;
  }

  &__nickname {
    margin-top: 29px;
    font-size: 1.75rem;
  }

  &__file {
    height: 23.2vh !important;
    margin-top: 4vh;
    margin-bottom: 5vh;
    width: 100%;
  }

  &__submit {
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    padding-right: 52px;
    padding-left: 30px;
    margin-top: auto;
  }
}