.detailing-popup {
  padding: 14px 2.66vw 22px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(6, 28, 97, 0.05);

  &__scrollable {
    height: 26.5vh;
    padding-bottom: 2.4vh;
    margin-bottom: 2.4vh;
    border-bottom: 1px solid #f3f3f3;

    .mCS-custom.mCSB_scrollTools {
      margin-top: 1.85vh;
    }
  }

  &__buttons {
    text-align: right;
  }
}