.dash-card {
  width: 30%;
  min-width: 290px;
  position: relative;
  padding-top: 3.13vh;
  display: flex;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 11.2vh;
    width: 83.4%;
    top: 0;
    left: calc(8.3%);
    padding: 0 1vw 0 1.6vw;
    background-image: linear-gradient(to top, #211c5d 0%, #61209c 100%);
    box-shadow: 0 -10px 43px rgba(26, 22, 75, 0.24);
    border-radius: 15px;

    &_theme_darkblue {
      background-image: linear-gradient(to right, #392c70 0%, #392c70 100%);
    }

    &_theme_pink {
      background-image: linear-gradient(to right, #c047b2 0%, #962a8a 100%);
    }

    &_theme_blue {
      background-image: linear-gradient(to right, #3498db 0%, #3498db 100%);
    }
  }

  &__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    background: #fff url(./dash-card.png) left bottom no-repeat;
    background-size: auto 100%;
    padding: 9.5vh 1.4vw 1.42vw;
    min-height: 25vh;
  }

  &__img {
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-grow: 0;
    width: 5vw;
    height: 8.6vh;
  }

  &__title {
    flex-grow: 1;
    font-size: 1.44rem;
    font-weight: 400;
    text-align: right;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__title-bold {
    font-weight: 700;
    font-size: 1.75rem;
    display: block;
    margin-bottom: .3rem;
  }

  &__tariff {
    width: 100%;
    font-size: 2rem;
    color: #585762;
    margin-top: 1.5vh;
    margin-bottom: -.6vh;
    text-align: right;
  }

  &__tariff-name {
    font-weight: 700;
    letter-spacing: -0.17px;
    text-transform: uppercase;
    font-size: 1.125rem;
  }

  &__tariff-info {
    margin-top: 2.6vh;
    letter-spacing: -0.07px;
  }

  &__stat {
    margin-bottom: 1.9vw;
  }

  &__summary {
    margin-top: auto;
    font-size: 3.8125rem;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    line-height: .87;
  }

  &__summary-units {
    font-size: 50%;
    text-transform: uppercase;
  }

  &__link {
    margin-top: auto;
  }

  @media (max-width: 1670px) {
    &__title {
      font-size: 1.22rem;
    }

    &__title-bold {
      font-size: 1.4rem;
    }

    &__summary {
      font-size: 2.3rem;
    }
  }

  @media (max-width: 1440px) {
    &__title {
      font-size: 1.15rem;
    }

    &__title-bold {
      font-size: 1.4rem;
    }
  }
}