.table {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__article-img {
    margin-right: 11px;
  }

  &__article-text {
    line-height: 17px;
  }

  &__payment-system {
    border-bottom: none !important;
  }

  &__item {
    padding: 1.75vh 0.5vw;
    text-align: left;
    color: #a3a3a3;
    font-size: .875rem;
    position: relative;
    vertical-align: middle;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    transition: border-color .35s;
    box-sizing: unset;

    &_mail-status {
      &:before {
        display: inline-block;
        content: '';
        width: 9px;
        height: 9px;
        margin-right: 10px;
        border-radius: 50%;
      }
    }

    &_layout_num {
      width: 50px;
    }

    &_layout_text {
      flex-shrink: 1;
      width: 0;
      flex-grow: 1;

      a {
        color: #0e216b;
        display: inline-block;
        line-height: 1;
        text-decoration: none;
        border-bottom: 1px dotted #0e216b;
      }

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      &.table__header-item {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }

    &_layout_control {
      width: 26.8%;
      min-width: 270px;
    }

    &_layout_mini-control {
      min-width: 355px;
    }

    &_layout_status {
      width: 10.5%;
      min-width: 80px;
    }

    &_layout_mail-status {
      width: 23.5%;
      min-width: 80px;
    }

    &_layout_tariff {
      width: 14.8%;
      min-width: 150px;
    }

    &_layout_date {
      width: 15.1%;
      min-width: 112px;
    }

    &_layout_registration-date {
      width: 14.8%;
      min-width: 150px;
    }

    &_layout_last-login-date {
      width: 16.8%;
      min-width: 180px;
    }

    &_layout_referrals {
      width: 14.1%;
      min-width: 100px;
    }

    &_layout_datetime {
      width: 13.1%;
      min-width: 105px;
      flex-wrap: wrap;
    }

    &_layout_alarm-datetime {
      width: 14.1%;
      min-width: 170px;
    }

    &_layout_time {
      width: 8.5%;
      min-width: 50px;
    }

    &_layout_alarm-description {
      width: 0;
      flex-grow: 2;
    }

    &_layout_alarm-category {
      width: 15.1%;
      min-width: 155px;
    }

    &_layout_stat {
      width: 11%;
      min-width: 90px;
    }

    &_layout_request-status {
      width: 11.5%;
      min-width: 115px;
    }

    &_layout_control-button {
      min-width: 180px;
    }

    &_layout_select {
      width: 15.68%;
      min-width: 200px;
    }

    &_align_center {
      justify-content: center;
      text-align: center;
    }

    &_align_right {
      justify-content: flex-end;
      text-align: right;
    }

    &_type_code {
      word-break: break-word;
    }

    &_content {
      color: #555555;
      font-size: .81rem;
    }

    &_mail {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    &_in-popup {
      font-size: 0.8125rem;
      color: #555555;
    }

    &_article {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    &_alarm-info {
      font-size: 1.125rem;
    }
  }

  &__alarm-item_padding {
    padding-left: calc(.5vw + 10px);
  }

  &__select {
    width: 100%;
  }

  &__mail-avatar {
    border-radius: 50%;
    width: 47px;
    height: 47px;
    margin-right: 10px;
  }

  &__mail-nickname {
    font-size: 0.9375rem;
  }

  &__mail-title {
    font-size: 0.8125rem;
    margin-top: 5px;
  }

  &__header-item {
    padding-top: 2.2vh;
    padding-bottom: 2.2vh;
    font-size: .81rem;
    color: #444444;

    &_filter {
      &:before {
        display: inline-block;
        content: '';
        width: 9px;
        height: 6px;
        margin-right: 6px;
        background: url(./filter-arrow.png);
        flex-shrink: 0;
      }
    }
  }

  &__row {
    display: flex;
    position: relative;

    &_popup {
      padding: 0 12px;
    }

    &_new-mail {
      .table__item {
        color: #444444 !important;
      }

      .table__item_mail-status {
        font-weight: 700;
        &:before {
          background-color: #20baa3;
        }
      }
    }

    &_hoverable {
      transition: all .35s;

      &:hover {
        background: #fff;
        border-color: rgba(0, 0, 0, 0);
        border-radius: 2px;
        box-shadow: 0 6px 10px rgba(6, 28, 97, 0.05);
        margin: 0 -2.66vw;
        padding-left: 2.66vw;
        padding-right: 2.66vw;

        & > .table__item {
          border-color: rgba(0, 0, 0, 0);
        }

        & .table__control-btn {
          transition: opacity 0.35s;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &_popup-header {
      background-color: #f0f4f7;
      padding: 5px 12px;

      .table__item {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    &_border_top {
      & > .table__item {
        border-top: 1px solid #f3f3f3;
      }
    }

    &_border_bottom {
      & > .table__item {
        border-bottom: 1px solid #f3f3f3;
      }
    }

    &_focused {
      background: #fff;
      border-color: rgba(0, 0, 0, 0);
      border-radius: 2px;
      margin: 0 -2.66vw;
      padding-left: 2.66vw;
      padding-right: 2.66vw;

      & > .table__item {
        border-color: #f3f3f3 !important;
      }

      & .table__control-btn {
        transition: opacity 0.35s;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__num {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(36, 37, 66, 0.19);
    background-image: linear-gradient(-131deg, #1aeebb 0%, #1fb4f3 100%);
    color: #fff;
    font-size: .75rem;
    border-radius: 50%;
  }

  &__control-item {
    text-align: center;
    min-width: 278px;
  }

  &__content-parameters {
    font-size: .75rem;
    width: 55px;
    margin-top: 10px;
    display: block;
    color: #7a83a3;
    text-decoration: none;
  }

  &__control-btn {
    visibility: hidden;
    opacity: 0;
    margin-right: 10px;
  }

  &__date {
    width: 100%;
  }

  &__time {
    width: 100%;
    line-height: 1;
  }

  &__popup {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    width: 100%;
    z-index: 1000;

    &_active {
      display: block;
    }
  }
}