.chat {
  flex-grow: 1;
  margin-right: 20px;
  width: 45.3%;
  color: #555555;

  &__title {
    text-align: center;
  }

  &__messages {
    height: 39.8vh;
    box-shadow: inset 0 0 9px rgba(47, 34, 106, 0.1);
    display: flex;
    flex-direction: column;
  }

  &__scrollable {
    flex-grow: 1;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;

    .mCSB_1_scrollbar {
      margin-right: -2px;
    }
  }

  &__message {
    margin-top: 27px;
    margin-left: 40px;
    margin-right: 40px;


    &:first-child {
      margin-top: 7.6vh;
    }

    &:last-child {
      margin-bottom: 2.8vh;
    }
  }

  &__form {
    margin-top: 30px;
  }

  //@media (max-width: 1700px) {
  //  width: 100%;
  //}
}