.file-input-group {
  display: flex;
  position: relative;
  height: 50px;
  color: rgba(88, 87, 98, .5);

  &__input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #dfdfdf;
    border-radius: 25px;
    cursor: pointer;
  }
}