.profile-history {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__title {
    font-size: 1.175rem;
    text-transform: uppercase;
    color: #585762;
    flex-grow: 1;
  }

  &__table {
    margin-top: 2.7vh;
  }

  &_partner {
    margin-right: 0 !important;
  }
}