.nav-main {
  height: 100%;
  min-width: 320px;
  width: 18vw;
  color: #fff;
  position: relative;
  transition: all .35s;
  flex-shrink: 0;

  &__menu-hidden {
    position: absolute;
    top: calc(25vh + 40px);
    visibility: hidden;
    right: 0;
    opacity: 0;
    transition: all .35s;
    width: 100%;
  }

  .nav-main__item_hide {
    opacity: 1;
    visibility: visible;
    transition: all .35s;
  }

  &_inactive {
    width: 50px;
    min-width: 0;

    .nav-main__container {
      min-width: 0;
      width: 50px;

      .nav-main__burger {
        right: calc(50% - 9px);
      }

      .nav-main__item_hide {
        opacity: 0;
        visibility: hidden;
      }

      .nav-main__menu-hidden {
        opacity: 1;
        top: 25vh;
        visibility: visible;
      }
    }
  }

  &__visible {
    width: 18vw;
    min-width: 320px;
    padding: 3vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle 540px at center, #61209c 0%, rgba(97, 32, 156, 0) 100%), url(./nav-main-bg.png);
    background-size: 100% 100%;
  }

  &__container {
    display: flex;
    width: 18vw;
    min-width: 320px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2000;
    overflow: hidden;
    transition: all 0.35s;
  }

  &__logo {
    margin-bottom: 7vh;
  }

  &__greeting {
    color: inherit;
    text-decoration: none;
    margin-top: 2vh;
  }

  &__menu {
    width: 100%;
    margin-top: 5vh;
  }

  &__burger {
    cursor: pointer;
    position: absolute !important;
    top: 14vh;
    right: 2.4vh;
    transition: all .35s;
  }
}