.dropdown {
  position: relative;
  cursor: pointer;
  display: flex;

  &__switch {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8vh 18px 1.9vh 23px;

    &:after {
      width: 13px;
      height: 8px;
      content: '';
      background: url(./arrow-lan.png) no-repeat center;
      background-size: contain;
      margin-left: 20px;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    letter-spacing: 0.4px;
    background-color: #f0ebfc;
    border-radius: 25px;
    color: #585762;
    z-index: 100;

    &_active {
      display: flex;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    padding: 1.8vh 18px 1.9vh 23px;
    color: inherit;
    text-decoration: none;
    flex-shrink: 0;

    &_active {
      &:after {
        width: 13px;
        height: 8px;
        content: '';
        background: url(./arrow-lan.png) no-repeat center;
        background-size: contain;
        margin-left: 20px;
        //transform: rotate(180deg);
      }
    }
  }
}