.add-source-form {

  &__form {
    display: flex;
    margin: -10px -.3vw;
  }

  &__item {
    margin: 10px .3vw;
    flex-grow: 1;
  }

  &__input {
    width: 16.4vw;
    max-width: 395px;
  }

  &__select {
    width: 18.7vw;
    min-width: 180px;
    max-width: 290px;

    &_sources {
      width: 14.2vw;
      min-width: 150px;
    }
  }

  &__btn {
    margin: 10px .3vw 10px auto;
  }

  &__period {
    width: 10%;
    min-width: 130px;
    max-width: 140px;
  }

  &__date {
    width: 15%;
    min-width: 170px;
    max-width: 187px;
    background-position: 1.7vw center !important;
  }

  @media (max-width: 1400px) {
    &__btn {
      margin-left: .3vw;
    }
  }

  @media (max-width: 1300px) {
    &__btn {
      font-size: 0;
      padding: 0;
      width: 50px;
      height: 50px;

      &:after {
        box-shadow: none;
      }
    }
  }
}