.article {
  background-color: #ffffff;
  flex-grow: 1;
  box-shadow: 0 6px 10px rgba(6, 28, 97, 0.05);
  border-radius: 2px;
  padding: 0 50px;
  max-height: 100%;
  display: none;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &_active {
    display: flex;
  }

  &__header {
    padding: 21px 0;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    flex-shrink: 0;
  }

  &__description {
    display: flex;
    align-items: center;
    width: 320px;
  }

  &__img {
    margin-right: 10px;
  }

  &__desc-text {
    font-size: 0.8125rem;
  }

  &__btn-close {
    background: none;
    width: 21px;
    height: 21px;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: '';
      height: 1px;
      width: 100%;
      left: 0;
      background: #1e1d1f;
    }

    &:before {
      transform: rotate(45deg);
      top: 10px;
    }

    &:after {
      transform: rotate(-45deg);
      bottom: 10px;
    }
  }

  &__header-control {
    display: flex;
    align-items: center;
  }

  &__btn-download {
    margin-right: 56px;
  }

  &__scrollable {
    overflow: hidden;
    flex-grow: 1;
  }

  &__main {
    margin-top: 48px;
    color: #585762;
    margin-bottom: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-top: 39px;
    margin-bottom: 48px;
    font-size: 2.25rem;
    text-align: center;
  }

  &__text {
    white-space: pre-wrap;
    line-height: 2.5;
  }
}