.content-block {
  padding: 3vh 2.4vw;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
  align-content: flex-start;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    width: 100%;
    margin-bottom: 2vh;
  }

  &__title {
    color: #585762;
    font-size: 1.44rem;
    text-transform: uppercase;
    flex-grow: 1;
  }
}