.date-input {
  border: 1px solid #ebebeb;
  border-radius: 25px;
  font: inherit;
  color: #585762;
  padding-right: 1.7vw;
  padding-left: calc(2.2vw + 23px);
  height: 50px;
  background: url(./calendar.png) no-repeat 1.7vw center;
  outline: none;

  &::placeholder {
    color: rgba(88, 87, 98, .5);
  }
}